{% extends 'terceraapp/padre.html' %}
{% block titulo %}Bienvenido a Infocine{% endblock %}

{% block encabezado %}Bienvenido a Infocine, el sitio sobre peliculas{% endblock %}

{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                <form action="{%url 'actores-formulario' %}" method="POST">
                    {% if actoresformulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                    {% endif %}


                    {% csrf_token %}
                    <table>
                        {{actoresformulario.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
                </form>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}