{% extends 'terceraapp/padre.html' %}

{% block titulo %}Directores{% endblock %}

{% block encabezado %}Directores{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                {% if directoresformulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                {% endif %}
                
                <h4>Directores</h4>
                {% for director in mis_directores %}
                {{director.nombre}} {{director.obras}} {{director.oscar}} <br>
                {% endfor %}

                {% if nuevo_director %}
                    <p>se agrego correctamente al actor {{nuevo_director.nombre}} ({{nuevo_director.obras}}) {{nuevo_director.Oscar}}</p>
                {% endif %}


                <form action="{%url 'directores' %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{directoresformulario.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>

{% endblock %}