{% extends 'terceraapp/padre.html' %}

{% block titulo %}Peliculas{% endblock %}

{% block encabezado %}Peliculas{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                {% if peliculaformulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                {% endif %}
                
                <h4>Peliculas</h4>
                {% for pelicula in mis_pelis %}
                {{pelicula.nombre}} {{pelicula.anio}} {{pelicula.oscar}} <br>
                {% endfor %}

                {% if nueva_peli %}
                    <p>se agrego correctamente la pelicula {{nueva_peli.nombre}} ({{nueva_peli.FechaDeEstreno}}) {{nueva_peli.Oscar}}</p>
                {% endif %}


                <form action="{%url 'peliculas' %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ peliculaformulario.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>

{% endblock %}